body{
	margin:20px;
	font-family:verdana, sans serif, geneva;
}
.Avatar{
	width:150px;
}
.card{
	width:400px;
	margin:0px auto;
	border: 1px dotted blue;
	border-bottom: 5px solid #c8cefe;
	padding:20px;
	display:flex;
	justify-content:space-around;
	background-color:#ddebf8;
}
.blue-border{
	color:#2b2839
		
}
.center{text-align: center;
}